@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  @apply m-0 p-0 box-border;
}

ul {
  @apply list-none;
}

button,
input {
  @apply outline-none;
}

body {
  @apply overflow-x-hidden min-h-screen;
}

.bg1{
  @apply text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500;
}
.btn {
  @apply w-full flex justify-center py-3 px-4 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500;
}
/*---------------------
  Instagram
-----------------------*/

.instagram .instagram__item:hover:after {
	opacity: 1;
}

.instagram .instagram__item:hover .instagram__text {
	opacity: 1;
	visibility: visible;
}
.instagram .instagram__item:after {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.9);
	content: "";
	opacity: 0;
	z-index: -1;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}
.instagram__item {
  position: relative;
}

.instagram__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  /* Background color for text */
  height: 100%;
  width: 100%;
  opacity: 0;
  /* Hide text by default */
  transition: opacity 0.3s ease;
  /* Smooth transition for opacity */
  @apply flex items-center justify-center;
}

.instagram__item:hover .instagram__text {
  opacity: 1;
  /* Show text on hover */
}

.block1 {
  @apply border-[1px] border-solid border-gray-200;
}

.block1-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
  box-sizing: border-box;
}

.block1:hover .block1-overlay {
  opacity: 1;
}

.block1:hover span {
  @apply text-white;
}

.block1-link {
  font-size: 18px;
  padding: 2px 6px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.block1:hover .block1-link {
  opacity: 1;
  transform: translateY(0);
  animation: bounce 0.8s infinite alternate;
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(-10px);
  }
}
/* Loader.css */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 9999;
  display: none; /* Hidden by default */
}

.loader.active {
  display: block; /* Show when active */
}

.loader .spinner {
  width: 100%;
  height: 100%;
  background-color: #0070f3;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
